#servicios p{
  font-size: 20px;
}
#inicio p{
  font-size: 20px;
}
#equipo p{
  font-size: 16px;
}
.contact p{
  font-size: 18px;
}
.contact label, input{
  font-size: 18px;
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

.eqipo .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.eqipo h2 {
    font-weight: 400;
    line-height: 1;
}

.eqipo .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.contacto .col-md-4 {
  margin-bottom: 1.5rem;
}
.contacto h2 {
    font-weight: 400;
    line-height: 1;
}

.contacto .col-md-4 {
  margin-right: .75rem;
  margin-left: .75rem;
}

.divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
}
  
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} 